<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	<section name="entityFramework"
		type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
		requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<add name="MemoramaEntities"
			connectionString="metadata=res://*/Modelo.Memorama.csdl|res://*/Modelo.Memorama.ssdl|res://*/Modelo.Memorama.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-IAJ58MB2;initial catalog=Memorama;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="ServicioMemorama.ServicioMemorama">
				<endpoint address="ServicioMemorama" binding="netTcpBinding" bindingConfiguration="" contract="ServicioMemorama.ILoginService"/>
				<endpoint address="ServicioMemorama" binding="netTcpBinding" bindingConfiguration="" contract="ServicioMemorama.IRegistroService"/>
				<endpoint address="ServicioMemorama" binding="netTcpBinding" bindingConfiguration="" contract="ServicioMemorama.IPartidaService"/>
				<endpoint address="ServicioMemorama" binding="netTcpBinding" bindingConfiguration="" contract="ServicioMemorama.IJuegoService"/>
				<endpoint address="ServicioMemorama" binding="netTcpBinding" bindingConfiguration="" contract="ServicioMemorama.IEstadisticasService"/>
				<endpoint address="ServicioMemorama" binding="netTcpBinding" bindingConfiguration="" contract="ServicioMemorama.IRecuperarContraseniaService"/>

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9090"/>
						<add baseAddress="net.tcp://localhost:8060"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>