<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
	  <add name="MemoramaEntities" connectionString="metadata=res://*/Modelo.Memorama.csdl|res://*/Modelo.Memorama.ssdl|res://*/Modelo.Memorama.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-IAJ58MB2;initial catalog=Memorama;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ILoginService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IRegistroService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPartidaService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IJuegoService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILoginService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IRegistroService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPartidaService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IJuegoService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILoginService2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IRegistroService2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPartidaService2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IJuegoService2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILoginService3">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IRegistroService3">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPartidaService3">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IJuegoService3">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILoginService4">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IRegistroService4">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPartidaService4">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IJuegoService4">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IRecuperarContraseniaService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILoginService5">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IRegistroService5">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPartidaService5">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IJuegoService5">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IEstadisticasService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILoginService"
        contract="ProxyLogin.ILoginService" name="NetTcpBinding_ILoginService">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRegistroService"
        contract="ProxyLogin.IRegistroService" name="NetTcpBinding_IRegistroService">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPartidaService"
        contract="ProxyLogin.IPartidaService" name="NetTcpBinding_IPartidaService">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJuegoService"
        contract="ProxyLogin.IJuegoService" name="NetTcpBinding_IJuegoService">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILoginService1"
        contract="ProxyRegistro.ILoginService" name="NetTcpBinding_ILoginService1">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRegistroService1"
        contract="ProxyRegistro.IRegistroService" name="NetTcpBinding_IRegistroService1">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPartidaService1"
        contract="ProxyRegistro.IPartidaService" name="NetTcpBinding_IPartidaService1">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJuegoService1"
        contract="ProxyRegistro.IJuegoService" name="NetTcpBinding_IJuegoService1">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILoginService2"
        contract="ProxyPartida.ILoginService" name="NetTcpBinding_ILoginService2">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRegistroService2"
        contract="ProxyPartida.IRegistroService" name="NetTcpBinding_IRegistroService2">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPartidaService2"
        contract="ProxyPartida.IPartidaService" name="NetTcpBinding_IPartidaService2">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJuegoService2"
        contract="ProxyPartida.IJuegoService" name="NetTcpBinding_IJuegoService2">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILoginService3"
        contract="ProxyJuego.ILoginService" name="NetTcpBinding_ILoginService3">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRegistroService3"
        contract="ProxyJuego.IRegistroService" name="NetTcpBinding_IRegistroService3">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPartidaService3"
        contract="ProxyJuego.IPartidaService" name="NetTcpBinding_IPartidaService3">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJuegoService3"
        contract="ProxyJuego.IJuegoService" name="NetTcpBinding_IJuegoService3">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILoginService4"
        contract="ProxyRecuperarContrasenia.ILoginService" name="NetTcpBinding_ILoginService4">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRegistroService4"
        contract="ProxyRecuperarContrasenia.IRegistroService" name="NetTcpBinding_IRegistroService4">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPartidaService4"
        contract="ProxyRecuperarContrasenia.IPartidaService" name="NetTcpBinding_IPartidaService4">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJuegoService4"
        contract="ProxyRecuperarContrasenia.IJuegoService" name="NetTcpBinding_IJuegoService4">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRecuperarContraseniaService"
        contract="ProxyRecuperarContrasenia.IRecuperarContraseniaService"
        name="NetTcpBinding_IRecuperarContraseniaService">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILoginService5"
        contract="ProxyEstadisticas.ILoginService" name="NetTcpBinding_ILoginService5">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRegistroService5"
        contract="ProxyEstadisticas.IRegistroService" name="NetTcpBinding_IRegistroService5">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPartidaService5"
        contract="ProxyEstadisticas.IPartidaService" name="NetTcpBinding_IPartidaService5">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJuegoService5"
        contract="ProxyEstadisticas.IJuegoService" name="NetTcpBinding_IJuegoService5">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8060/ServicioMemorama"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEstadisticasService"
        contract="ProxyEstadisticas.IEstadisticasService" name="NetTcpBinding_IEstadisticasService">
        <identity>
          <userPrincipalName value="LAPTOP-IAJ58MB2\Aldo" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>